.Body {
    background-color:white

}

.background {
    position: absolute;
    padding: 10px 0 0 150px;
    opacity: 0.5;
    z-index: -99;
}

.head {
    width: 800px;
    padding: 48px 0 0 245px;
    position: relative;
    float: left;
}

.head img {
    float: left;
}

.head_txt {
    width: 350px;
    margin: 11px 24px 0 40px;
    float: left;
}

.head_txt p1 {
    display: block;
    font-weight: bolder;
    font-size: 16.5px;
}

.head_box {
    display: block;
    margin-top: 16px;
    width: 37px;
    height: 3px;
    background-color: rgb(12, 59, 212);
}

.head_txt p2 {
    margin-top: 24px;
    display: block;
    font-weight: bolder;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.head_txt_buttonbox {
    margin: 20px 0 0 0;
    width: 150px;
    padding: 0 0 32.2px 0;
    border-radius: 3px;
    background-color: rgb(20, 106, 204);
}

.head_txt_buttonbox LeftTxt {
    color: white;
    font-size: 2px;
    float: left;
    margin: 9px 0 0 13px;
}

.head_txt_buttonbox RightTxt {
    color: white;
    font-size: 15px;
    float: right;
    margin: 7px 11px 0 0;
}

.blog {
    width: 900px;
    padding: 50px 0 28px 0;
    margin: 0px 0 0 165px;
    float: left;
}

.blog_title {
    margin: 20px 0 0 80px;
    font-size: 25px;
    font-weight: bolder;
    color: rgba(0, 26, 255, 0.698);
    display: inline;
}

.blog_Japanese {
    font-size: 14px;
    font-weight: bolder;
    margin: 3px 0 10px 7px;
    display: inline;
}

.blog_buttonbox {
    width: 115px;
    background-color: rgb(20, 106, 204);
    border-radius: 5px;
    float: right;
    margin: 5px 60px 0 0;
    text-align: right;
    padding: 4px 0 3px 0;
}

.blog_buttonbox txt {
    margin: 0 10px 5px 0;
    font-size: 3px;
    color: white;
}

.blog_line {
    margin: 21px 0 0 80px;
    width: 758px;
    height: 2px;
    background-color: rgba(102, 102, 102, 0.151);
    box-shadow: 0 75px 0  rgba(102, 102, 102, 0.151),
     0 140px 0  rgba(102, 102, 102, 0.151), 0 208px 0  rgba(102, 102, 102, 0.151);
}

.blog_line1 {
    margin: 30px 300px 0 77px;
    float: left;
}

.blog_line1 date {
    margin-top: 2px;
    font-size: 2px;
    float: left;
    transform: scale(0.93);
}

.blog_line1_box {
    margin: 0 16px 0 25px;
    text-align: center;
    width: 83px;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    float: left;
    padding: 0px 0 2px 0;
    display: block;
}

.blog_line1_box box_txt {
    font-size: 3px;
    color: white;
    font-weight: bold;
}

.blog_line1 line_txt {
    font-size: 3px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.blog_line2 {
    margin: 44px 300px 0 77px;
    float: left;
}

.blog_line2 date {
    margin-top: 3px;
    font-size: 2px;
    float: left;
    transform: scale(0.93);
}

.blog_line2_box {
    margin: 0 16px 0 25px;
    text-align: center;
    width: 83px;
    background-color: rgb(14, 184, 8);
    border-radius: 10px;
    float: left;
    padding: 0px 0 2px 0;
    display: block;
}

.blog_line2_box box_txt {
    font-size: 3px;
    color: white;
    font-weight: bold;
}

.blog_line2 line_txt {
    font-size: 3px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.blog_line3 {
    margin: 44px 290px 0 77px;
    float: left;
}

.blog_line3 date {
    margin-top: 3px;
    font-size: 2px;
    float: left;
    transform: scale(0.93);
}

.blog_line3_box {
    margin: 0 16px 0 25px;
    text-align: center;
    width: 83px;
    background-color: rgb(14, 184, 8);
    border-radius: 10px;
    float: left;
    padding: 0px 0 2px 0;
    display: block;
}

.blog_line3_box box_txt {
    font-size: 3px;
    color: white;
    font-weight: bold;
}

.blog_line3 line_txt {
    font-size: 3px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.window {
    width: 850px;
    padding: 0 65px 0 35px;
    margin: 0 150px 0 150px;
    background-color: rgba(172, 169, 169, 0.137);
    float: left;
}

.window_left {
    width: 240px;
    padding: 0 80px 10px 5px;
    margin-right: 92px;
    float: left;
}

.window_left_title {
    display: block;
    margin: 10px 0 20px 11.5px;
    font-size: 17px;
    color: rgba(0, 26, 255, 0.698);
    font-weight: bolder;
    letter-spacing: 0.4px;
}

.MainString {
    margin-top: 12px;
    width: 4px;
    height: 25px;
    background-color: rgba(0, 26, 255, 0.698);
    float: left;
}

.window_left_box {
    width: 406px;
    background-color: white;
    padding: 27px 0 37px 0;
    border: solid 2px #666;
}

.left_box_line1 {
    font-size: 17px;
    color: rgb(121, 51, 1);
    text-align: center;
    margin-bottom: 7px;
}

.left_box_line2 {
    font-size: 33px;
    font-weight: bolder;
    color: rgba(0, 26, 255, 0.698);
    text-align: center;
    margin-bottom: 15px;
}

.left_box_line3 {
    font-size: 12.5px;
    color: rgb(121, 51, 1);
    text-align: center;
    margin-bottom: 3px;
}

.left_box_line4 {
    font-size: 12.5px;
    color: rgb(121, 51, 1);
    text-align: center;
    margin-bottom: 19px;
}

.left_box_line5 {
    width: 340px;
    height: 2px;
    margin-left: 40px;
    margin-bottom: 15px;
    background-color: rgba(102, 102, 102, 0.178);
}

.left_box_line6 {
    font-size: 13px;
    font-weight: bolder;
    color: rgba(0, 26, 255, 0.698);
    text-align: center;
    letter-spacing: 2.7px;
}

.window_right {
    width: 240px;
    padding: 0 80px 20px 50px;
    float: left;
}

.window_right_title {
    display: block;
    margin: 10px 0 20px 11px;
    font-size: 17px;
    color: rgba(0, 26, 255, 0.698);
    font-weight: bolder;
}
.window_right_box {
    width: 406px;
    background-color: white;
    padding: 27px 0 58px 0;
    border: solid 2px #666;
}
.window_right_line1 {
    margin: 25px 0 12px 40px;
}
.right_box_line2 {
    font-size: 13.1px;
    font-weight: bolder;
    color: rgb(121, 51, 1);
    text-align: center;
    margin-bottom: 7px;
}
.right_box_line3 {
    font-size: 12.5px;
    font-weight: bolder;
    color: rgb(121, 51, 1);
    text-align: center;
    margin-bottom: 6px;
}
.right_box_line4 {
    font-size: 12.5px;
    font-weight: bolder;
    color: rgb(121, 51, 1);
    text-align: center;
}